@charset "UTF-8";

form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px 20px;
    box-sizing: border-box;
}

input,
textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
}

input:hover,
textarea:hover {
    background-color: #dddddd;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo {
    width: 100%;
    max-width: 220px;
}

fieldset#usuario {
    background: url("../_image/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
    background: url("../_image/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url("../_image/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
    background: url("../_image/icone-pagamento.png") no-repeat 95% 95%;
}