@charset "UTF-8";

div#tv-radio {
    width: 100%;
    max-width: 900px;
    margin: auto;
    background: url("../_image/radio-tv.png") no-repeat center center;
    background-size: contain;
    aspect-ratio: 900 / 580;
    position: relative;
}

audio#musica {
    display: block;
    position: absolute;
    left: 64%;
    bottom: 6%;
    width: 32%;
    min-width: 180px;
    max-width: 320px;
}

video#filme {
    display: block;
    position: absolute;
    left: 10%;
    top: 15%;
    width: 60%;
    height: auto;
    max-width: 480px;
}