@charset "UTF-8";

section#conteudo {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        padding: 0 10px;
        box-sizing: border-box;
}

iframe#frame-spec {
        width: 100%;
        max-width: 500px;
        height: 320px;
        border: none;
        overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
	display: none;
}
